{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="digiops digi0ps Sriram Ravichandran Blog Photos Code India"/>
<meta name="author" content="Sriram digi0ps" />
<meta name="copyright" content="Sriram digi0ps" />
<meta name="theme-color" content="#2B4496">
<title>digi0ps</title>
<link rel="stylesheet" href="{% static 'css/prod.css' %}">
</head>
<body>
<div id="react-root-container"></div>
<input id="viewers" type="hidden" value="{{viewers}}" />
<script type="text/javascript" src="{% static 'js/prod.js' %}"></script>
</body>
</html>
