{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="digiops digi0ps Sriram Ravichandran Blog Photos Code India"/>
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<meta name="author" content="Sriram digi0ps" />
<meta name="copyright" content="Sriram digi0ps" />
<meta name="theme-color" content="{{theme}}" />
<meta name="description" content="{{desc}}" data-react-helmet="true" />
<title>{{title}}</title>
<link rel="stylesheet" href="{% static 'css/prod.css' %}">
</head>
<body>
<div id="react-root-container"></div>
<input id="viewers" type="hidden" value="{{viewers}}" />
<script type="text/javascript" src="{% static 'js/prod.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103030993-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
