{% extends "blog/admin_base.html" %}
{% block title %}
	digi-admin
{% endblock title %}
{% block navcolor %}#2f2f2f{% endblock navcolor %}
{% block body %}
<style>
h3{
	margin-top: 0;
}
.wrapper {
	margin-bottom: 100px;
}

</style>
	<div class="container wrapper">
	<div class="row">
	<br><br>
	<div class="col-xs-12 text-center">
	{% if article %}
	<h3 class="lead">Edit Post</h3>
	{% else %}
	<h3 class="lead">Create Post</h3>
	{% endif %}
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
	{% if article %}
	<form method="POST" action="{% url 'blog_edit_post' article.id %}">
	{% else %}
	<form method="POST" action="{% url 'blog_post' %}">
	{% endif %}
		{% csrf_token %}
		<div class="form-group text-center">
			<input type="text" class="form-control" id="title" name="title" placeholder="Enter the title of your article." value="{{article.title}}" />
		</div>
		<br>
		<div class="form-group text-center">
			<input type="text" class="form-control" id="short" name="short" placeholder="A short description of your blog (max 80 chars)." max-length="200" value="{{article.short}}" />
		</div>
		<br>
		<textarea id="content" name="content">{{article.content}}</textarea>
		<br>
		{% if article %}
			<input type="text" name="time" value="{{article.posted_time}}" />
		{% endif %}
		<div class="col-xs-2 col-xs-offset-5">
		<button type="submit" class="btn btn-large btn-success">POST</button>
		</div>
	</form>
	</div>
	</div>
	</div>
{% endblock body %}
{% block script %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({
	hideIcons: ["fullscreen"],
	placeholder: "Start writing your post, digi0ps...",
});
</script>
{% endblock script %}
