/* chat.js */

.chat-terminal {
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  background-color: #000;
  color: #33ff66;
  font-family: "Courier New";
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}


/* chat_input.js */

.chat-input-div {
  position: absolute;
  bottom:20px;
  width: 100%;
  flex: 0.1;
}

.chat-input-div label{
  max-width: 10%;
}

.chat-input {
  min-width: 90%;
  padding: 2px;
  border: none;
  outline: none;
  background-color: #000;
  color: #33ff66;
  font-family: "Courier New";
  font-size: 15px;
  font-weight: 500;
}

/* messages */
.messages {
  flex: 0.90;
  overflow: scroll;
}
.time {
  float: right;
}
.message-links {
  font-weight: 500;
}
.message-links:hover {
  text-decoration: none;
}
