.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0.5em;
  padding-top: 2em;
}

.portfolio a {
  color: hsl(204, 86%, 53%);
}

.portfolio a:hover {
  color: hsl(217, 71%, 53%);
  text-decoration-color: hsl(217, 71%, 53%);
}

.header h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.body h3 {
  font-size: 25px;
  font-weight: 400;
}
.toolazy {
  max-width: 700px;
  margin: 10px auto;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.body {
  max-width: 700px;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  font-weight: 250;
  font-size: 20px;
  line-height: 25px;
}

.para {
  text-align: left;
}

.top {
  margin-right: 10px;
  padding-bottom: 20px;
}

.top > a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 40px;
    font-weight: 350;
  }
  .body h3 {
    font-size: 20px;
    font-weight: 380;
  }
  .body {
    font-size: 15px;
  }
}
