.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0.5em;
  padding-top: 2em;
}

.portfolio a {
  color: #ef5350;
  text-decoration: none;
  position: relative;
  z-index: 1000;
  transition: all 0.5s ease-in;
}

.portfolio a:hover {
  text-decoration: none;
  color: #ef5350;
}

.portfolio a::before {
  content: "";
  background-color: #f44336;
  width: 98%;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1%;
  transition: all 0.3s ease-in;
  transform: scaleX(0);
  opacity: 0.3;
}

.portfolio a:hover::before {
  opacity: 0.8;
  transform: scale(1);
}

.header h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.body h3 {
  font-size: 25px;
  font-weight: 400;
}
.toolazy {
  max-width: 700px;
  margin: 10px auto;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.body {
  max-width: 700px;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  font-weight: 250;
  font-size: 20px;
  line-height: 25px;
}

.para {
  text-align: left;
}

.top {
  margin-right: 10px;
  padding-bottom: 20px;
}

.top > a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 40px;
    font-weight: 350;
  }
  .body h3 {
    font-size: 20px;
    font-weight: 380;
  }
  .body {
    font-size: 15px;
  }
}
