@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@import url('https://fonts.googleapis.com/css?family=Abel|Ubuntu|Roboto|Lato|Open+Sans');

* {
	box-sizing: border-width;
}


html{
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #2B4496;
	color: white;
	font-family: system;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
}

.home-link {
	font-family: "Abel", sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-decoration: none;
	position: absolute;
	top: 10px;
	left: 10px;
	transition: all 1s ease-in;
}

.home-link:hover {
	color: white;
	text-decoration: overline;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.fade-leave {
 	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0;
	height: 0;
  	transition: opacity 250ms ease-in;
}
.fade-appear {
  opacity: 0;
  filter: brightness(0.1);
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  filter: brightness(1);
  transition: opacity 500ms ease-in;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.falldown-appear {
	opacity: 0.1;
	transform: translate(0, -10px);
}

.falldown-appear.falldown-appear-active {
	opacity: 1;
	transform: translate(0, 0);
	transition: all 250ms ease-in;
}

.quote-appear {
	opacity: 0.1;
	transform: translate(0, -10px);
}

.quote-appear.quote-appear-active {
	opacity: 1;
	transform: translate(0, 0);
	transition: all 500ms ease-in;
}

.quote-appear {
	opacity: 0.1;
	transform: translate(0, -10px);
}

.quote-appear.quote-appear-active {
	opacity: 1;
	transform: translate(0, 0);
	transition: all 500ms ease-in;
}

.fade-leave {
 	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0;
	transform: translate(0, -10px);
  	transition: opacity 250ms ease-in;
}
