.article {
	background-color: #fff;
	color: #2f2f2f;
	padding: 30px;
}

.close {
	position: absolute;
	top: 10px;
	right: 20px;
}

.close > a {
	font-size: 30px;
	opacity: 0.7;
	color: black;
	font-weight: bold;
}

.close > a:hover {
	color: black;
	text-decoration: none;
}
