
.blog.header > h2 {
	font-family: "Open Sans", sans-serif;
	margin-top: 50px;
	font-size: 30px;
}

.blog.header > p {
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	margin-top: 0;
	opacity: 0.8;
}

.articles {
	display: flex;
	flex-direction: column;
}


.article-box {
	background-color: #fff;
	width: 60%;
	height: 125px;
	overflow: hidden;
	margin: 10px auto;
	color: #2f2f2f;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.article-box > h3 {
	font-family: "Ubuntu", sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #2f2f2f;
	cursor: pointer;
}

.article-box-body {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #2f2f2f;
	opacity: 0.9;
	margin: 0;
}

.article-box a {
	color: #2f2f2f;
}

.article-box a:hover {
	color: #2f2f2f;
	text-decoration: none;
}

.details {
	margin-bottom: 0;
	padding-bottom: 0;
}

.blog-time {	
	margin-top: 10px;
	float: right;
}

@media only screen and (max-width: 800px) {
	.article-box {
		width: 80%;
		height: auto;
		padding-bottom: 10px;
	}

	.blog-time {
		margin-top: 11px;
	}

	.blog.header > p {
		font-size: 23px;
	}
}

@media only screen and (max-width: 400px) {
	.article-box {
		width: 90%;
		height: auto;
		padding-bottom: 10px;
	}

	.blog.header > p {
		font-size: 20px;
	}

	.details {
		width: 95%;
	}
}

